html {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 14px;
  height: 100vh;
}

body {
  background-color: #22222A;
}

@media(min-height:799px) {
  main {
      margin-top: 7%;
  }
}